{% extends "base.html" %}

{% block extrahdrs %}
{{ block.super }}
  <link href="{{ MEDIA_URL }}css/jqueryui/jquery.ui.all.css" rel="stylesheet">

  <script src="http://www.google.com/jsapi?key={{ AJAX_KEY }}" type="text/javascript"></script>
  <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2.115&amp;hl=en&amp;key={{ MAP_KEY }}"></script>

  <script language="Javascript" type="text/javascript">
  //<![CDATA[
  google.load("jquery", "1.4.2");
  google.load("jqueryui", "1.8.0");
  var zoom = {{ mapzoom }};
  var centerPoint = new GLatLng({{ centerlat }}, {{ centerlng }});
  {% ifequal REQUEST.META.SERVER_NAME "localhost" %}
  var listingURL = "/static/json/apts.json";
  {% else %} 
  var listingURL = "/apts/list/{{ CITY }}/json/";
  {% endifequal %}
  //]]>
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/geometrycontrols.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/polygoncontrol.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/maps.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/create.js"></script>

<style type="text/css">
  #mapDiv {
  height: 600px;
  width: 80%;
  border: 2px solid black;
  }
  #mile-container {
  width: 500px;
  height: 50px;
  }
  #price-container {
  width: 500px;
  height: 50px;
}
  form p {
  font-size: .8em;
  font-style: italic;
  margin: 2em;
  }
  form label {
  font-size: 1.25em;
  font-style: normal;
}
  .errorlist, .errorlist li, .error {
  color: #c00;
  font-size: 0.95em;
  font-weight: bold;
  margin: 0 0 -20px 15px;
  padding: 0;
  list-style-type: none;
  }
  #estimated-amount {
    display: inline;
    color: #999;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 15px;
  }
  #loading-image {
   visibility: hidden;
   vertical-align: -43%;
  }
</style>
{% endblock %}

{% block body %}
<h2>Create Filter</h2>
<p>
  With the following page you can create a <em>filter</em>.
  Throughout the lifetime of the filter, we will send you <em>notifications</em>
  via email every day that we find apartments that match your criteria.
</p>

<form action="" method="post" name="mainform" id="mainform">
<hr>
<h3>Easy Questions</h3>
<p>
  These questions should be fairly straightforward.
</p>
{{ form.as_p }}

<hr>
<h3>Price Option</h3>
<p><label>
  Now please adjust the slide to enter the <em>lower</em> and <em>upper</em>
  price cutoffs. The <em>lower</em> cutoff is the point at which you don't
  care anymore. The <em>upper</em> cutoff is the point at which you will
  not consider the apartment.</label>
</p>
<div id="price-container">
  <input type="text" name="price" id="price-output" style="font-size: 1.05em; border: 0; color: #444; font-weight: bold;">
  <table border="0" style="width: 100%;"><tr><td>$500</td><td style="width: 100%;"><div id="price-range"></div>
        </td><td>$4000</td></tr></table>

</div>
<hr>
<h3>Location</h3>
<p><label>
Please draw the region in the map for which you would like a place.
</label>
</p>
<input type="hidden" name="location-data" id="location-data" class="required" value="">
<div id="mapDiv">
<p style="color: red; font-size: 2em;">Google maps loading...</p>
</div>

<div id="estimated-amount">
Estimated matches: <small><em>please complete the form</em></small>
</div>
<img src="{{ MEDIA_URL }}img/loading.gif" title="loading" id="loading-image" border="0">

<div id="contact-info-form">
<h3>Contact Info</h3>
<p>How we will inform you of the apartments.</p>
{{ cform.as_p }}
</div>

<p>
<input type="submit" value="Add notification!">
</p>
</form>

{% endblock %}
