{% extends "base.html" %}

{% block extrahdrs %}
<script type="text/javascript" language="Javascript">
//<!--
     function createFilter() {
       var fbid = "{{ fb.uid|default:"" }}";
       var city = document.getElementById("city").value;
       var url = "/{{ FACEBOOK_URL }}filters/create/" + city + "/";
       if (fbid != "")
          url += "?fbid=" + fbid;
       window.location.href = url;
     }
//-->
</script>
{% endblock %}

{% block body %}

<h2>Welcome!</h2>
<p>
  I'm glad you're visiting. I created this site to make my apartment hunt easier, but I hope
  that this helps you out too.
</p>

<h3>What is this?</h3>
<p>
  When searching for apartments you have several options: you can search through craigslist, other online media,
  network, or talk to a broker. The largest advantage of a broker is that they can keep an eye out for you.
  That's what this web site aims to do&mdash;keep an eye out for you. You tell us what to look for, we email
  you when we find something that looks good.
</p>

<h3>How does it work?</h3>
<p>
  It's very simple. The site is currently constantly searching
  <a href="http://www.craigslist.org">Craigslist</a> for the deals that best
  match your criteria. When it finds something that looks good&mdash;and only
  then&mdash;it notifies you.
</p>

<h3>Alpha!</h3>
<p>
  Until I know this is a useful project, I'm only limiting this to a <strong>few</strong> select cities for now.
  It isn't difficult to scale up to other cities, but I didn't want to do that
  just yet. If you want to be notified when this project scales out you can
  feel free to star the <a href="http://code.google.com/p/apartmenthunter/issues/detail?id=1">first issue</a> in the issue tracker.
</p>

<h3>I'm convinced!</h3>
<p>
  Great! Continue to find a place in your city:<br>
  <select name="city" id="city">
    <option value="boston">Boston</option>
    <option value="newyork">New York</option>
    <!--<option value="losangeles">Los Angeles</option>-->
    <option value="sfbay">San Franciso</option>
    <!--<option value="chicago">Chicago</option>-->
  </select>
  <input type="button" value="Create filter!" onclick="createFilter();">
</p>
<p>
  Or, if you've been here before, you could log in:<br>
  <form action="users/login">
    Username:<input type="text" value="username" name="username">
    Password:<input type="password" name="password">
    <input type="submit" name="submit">
  </form>
  <br>
  <a href="users/forgot">forgot login details</a>
</p>

{% endblock %}
