#logo-img {
    display: block;
    font-family: Futura;
    font-size: 28pt;
    background-image: url(../img/logo.png);
    width: 320px;
    height: 42px;
    background-repeat: no-repeat;
    text-indent: -100em;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    background: transparent !important;
}

#container, #content, #bottom {
    background: none !important;
    margin: 0;
    width: auto;
}

.subtitle {
    display: block;
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 3em 0;
}